body {
    color: #000;
    font-size: 0.95em;
    line-height: 1.5;
    margin: 10px auto;
    max-width: 1000px;
    padding: 0 10px;
    font-family: Arial
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
